@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body-bg;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-out;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s infinite;
}


.outlined-title {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: transparent;
  -webkit-text-stroke: 2px #0DCCD7;
  letter-spacing: 2px;

}


.outlined-text {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #ffff;
  letter-spacing: 2px;

}


:root {
  --glow-color: rgba(0, 55, 255, 0.3);
  --vulcan: hsl(220, 65%, 3.52%);
}

.highlight-section {
  user-select: none;
  position: relative;
  overflow: hidden;
  padding: 8rem 0;
  transition: background 0.3s ease;
}

.highlight-section:hover .glow-overlay {
  opacity: 1;
}

.glow-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  mix-blend-mode: overlay;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.bg-background {
  background-color: hsl(220, 65%, 3.52%);
}




/* Add any existing styles above this */




@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  animation: rotate-border 10s linear infinite;
  /* Adjust duration and timing as needed */
}

/* Optional: This class could define a transparent border if needed */
.ring-gradient {
  /* Keep this transparent for the rotating effect */
  border: 2px solid rgba(255, 255, 255, 0.5);
  /* You can adjust this color */
  border-radius: 50%;
  /* Ensures it follows the button's round shape */
}



@keyframes spin-slow {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}




.email-link:hover {
  color: #007BFF; /* Change the color on hover */
  transform: scale(1.05); /* Slightly scale up the text and icon */
}

.email-link:hover .MuiSvgIcon-root {
  transform: rotate(10deg); /* Rotate the email icon slightly on hover */
}
